<h1 class="text-center">Usuarios</h1>
<hr/>
<div class="row">
  <div class="col text-right">
    <button
      [routerLink]="['/usuario/nuevo']"
      routerLinkActive="router-link-active"
      class="btn btn-primary">
      <i class="fa fa-plus">
        Agregar
      </i>
    </button>
  </div>
</div>

<div class="container margin-top">
  <div class="row">
    <div class="col">
      <div class="main-box clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
              <tr>
                <th><span>Id</span></th>
                <th><span>User</span></th>
                <th><span>Email</span></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>
                  {{ user.id }}
                </td>
                <td>
                  <img [src]="user.avatar" alt="" />
                  {{ user.first_name }} {{ user.last_name }}
                </td>

                <td>
                  {{ user.email }}
                </td>
                <td style="width: 20%;">
                  <a href="#" class="table-link">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  <a href="#" class="table-link">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  <a href="#" class="table-link danger">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </td>
              </tr>
              <tr></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
